<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta name+="viewport" content="widdth=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title> Events </title>
</head>

<body>
    <ul class="nav-links">
            <li><a href="#home">Início</a></li>
            <li><a href="#about">Sobre</a></li>
        </ul> 
        <div class="auth-buttons">
            <a href="login" class="btn btn-outline">Login</a>
        </div>
    </nav>
</body>
</html>